{% extends "admin/index.html" %}

{% block sidebar %}
    {{ block.super }}
    <div>
      <div>
        <a href="/admin/training-stats/" style="font-size: large; border: 1px solid gray; padding: 4px 8px; border-radius: 4px;">Thống kê</a>
      </div>
    </div>

    <br>
<div>
    <div>
        <a href="/admin/training-points/export-pdf/"
           style="font-size: large; border: 1px solid gray; padding: 4px 8px; border-radius: 4px;">Xuất danh sách điểm PDF</a>
    </div>
</div>
<br>
<div>
    <div>
        <a href=" /activities/export-csv/"
           style="font-size: large; border: 1px solid gray; padding: 4px 8px; border-radius: 4px;">Xuất danh sách hoat động CSV</a>
    </div>
</div>
{% endblock %}